@model DataContext.ViewModel.detailTopic

@{
    ViewBag.Title = "Chi tiết đề tài";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pro = (List<DataContext.DataTable.ProgressLe>)ViewBag.Progress;
}

<h2>Details</h2>

<div>
    <h4>TopicOfLecture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Times)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Times)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
    <div class="alert alert-success" role="alert">
        <strong>Qua trinh thuc hien</strong>
        <br>

        @if (pro.Count > 0)
        {
            foreach (var item in pro)
            {
                <p>@item.Date  : @item.Status</p>
            }

        }
        else
        {
            <p>Chua co ban bao cao</p>
        }



    </div>

</div>
<p>
    @if (Model.Status == 1)
    {
        @Html.ActionLink("Chinh Sua", "Edit", new { id = Model.IdTp })
    }
    |
    @Html.ActionLink("Quay lai danh sach", "MyTopic", "Topic") |
    @if (Model.Status == 2)
    {
        @Html.ActionLink("Gia han", "Edit", new { id = Model.IdTp })
    }
</p>
