@model DataContext.ViewModel.detailTopic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var date = (DateTime)Model.DateSt;
    int stt = (int)Model.Status;
    var list = (List<DataContext.DataTable.ProgressLe>)ViewBag.Progress;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Chi tiết đề tài @Model.Name</h6>
    </div>
    <div class="card-body" style=" margin-left:15px">
        <div class="">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div>
                        <dl class="dl-horizontal">

                            <dd>
                                <label>Mã Nhiệm Vụ: </label><br />@Html.DisplayFor(model => model.IdTp)
                            </dd>

                            <dd>
                                <label>Tên Nhiệm Vụ: </label><br /> @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dd>
                                <label>Loại Nhiệm Vụ :</label><br /> @Html.DisplayFor(model => model.name)
                            </dd>

                            <dd>
                                <label>Mục Tiêu : </label><br /> @Html.DisplayFor(model => model.Target)
                            </dd>

                            <dd>
                                <label>Nội Dung: </label><br />@Html.DisplayFor(model => model.Content)
                            </dd>

                            <dd>

                                <label>Ngày Thực Hiện: </label><br /> @date.ToShortDateString()
                            </dd>

                            <dd>
                                <label>Số Tháng Thực Hiện: </label><br />@Html.DisplayFor(model => model.Times)
                            </dd>

                            <dd>
                                <label>Kinh Phí: </label><br />  @string.Format("{0:#,0}", Model.Expense) VND

                            </dd>
                            <dd>
                                <label>Xét Duyệt: </label>
                                @if (stt == 2)
                                {
                                    <p>Đang chờ</p>
                                }
                                else if (stt == 1)
                                {
                                    <p>Chấp Thuận</p>

                                }
                                else
                                { <p>Không Chấp Thuận</p>}

                            </dd>

                        </dl>
                        <div class="alert alert-success" role="alert">
                            <strong>Quá Trình Thực Hiện</strong>
                            @foreach (var item in list)
                            {
                        <div>
                            @item.Status  @item.Date @item.FileName  <a href="@Url.Action("Download","Topic", new {id=item.IdTp, filename= item.FileName})"> tải xuống</a>
                            <button type="button" style=" background:none;border:none;color:blue" class="btn btn-block">xem trước</button>
                            <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("partialViewFile","topic")'></div>

                            </div>
                            }
                        </div>
                    </div>
                    <p>
                        @if (stt == 2)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = Model.IdTp })
                        }
                        @if (stt == 1)
                        {
                            @Html.ActionLink("Gia Hạn", "Edit", new { /* id = Model.PrimaryKey */ })
                            <small>||</small>
                            @Html.ActionLink("Hủy Bỏ", "Edit", new { /* id = Model.PrimaryKey */ })
                        }

                        || @Html.ActionLink("Quay lại danh sách", "mytopic")
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.myModal').click(function () {
            var url = $('#myModal').data('url');
            $.get(url, function (data) {
                $("#myModal").html(data);
                $("#myModal").modal('show')
            })
        })
    })
</script>


