@model IEnumerable<DataContext.ViewModel.TopicLecuter>

@{
    ViewBag.Title = "my topic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyTopic</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style=" font-size:small">
        <th>
           Mẫ Đề Tài
        </th>
        <th>
          Tên Đề Tài
        </th>
        <th>
           Thể Loại
        </th>
        <th>
            Ngày Thực Hiện
        </th>
        <th>
           Thời Gian
        </th>
        <th>
           Chi Phí
        </th>
        <th>
            Trạng Thái
        </th>
        <th>
           Kết QUả
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.IdTp
    </td>
    <td>
        @item.Name
    </td>
    <td>
        @item.NameP
    </td>
    <td>
        @item.DateSt.ToShortDateString()
    </td>
    <td>
        @item.Times
    </td>
    <td>
        @string.Format("{0:#,0}", item.Expense)
    </td>
    @if (item.Status == 1)
    {
        <td>
            Chưa Duyệt
        </td>
    }
    else if (item.Status == 2)
    {
        <td>
            Đã Duyệt
        </td>
    }
    else if (item.Status
        == 3)
    {
        <td>
            Bị Hủy
        </td>
    }
    else
    {
        <td>
            !!!!!!
        </td>
    }
    @if (item.Process != null)
    {
        <td>
            @item.Process
        </td>
    }
    else
    {
        <td> </td>
    }

    <td>
        @Html.ActionLink("Chi tiết", "Details", new { id = item.IdTp }) 
    </td>
</tr>
    }

</table>
