@model List<DataContext.ViewModel.InfomationViewModel>

@{
    ViewBag.Title = "Thông Tin Cá Nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Thông Tin Cá Nhân</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <div>
                <h6>Mã Giảng Viên</h6>
                <p>@item.IdLe</p>

                <p>@item.Name</p>
                <p>@item.Email</p>

                <p>@item.Phone</p>
                <p>@item.NameD</p>
            </div>


        }


    </dl>
    <a href="">
        <form>
            <input type="button" value="Cập Nhật Thông Tin" class="btn btn-facebook" />
        </form>
    </a>
</div>
